/ExamProjectKarol/nbproject/private/
/ExamProjectKarol/build/
/ExamProjectKarol/dist/
/CBT test/dist/
/Socket-Programming/nbproject/private/
/socket-Program/nbproject/private/
/socket-Program/build/
/stringTokenization/nbproject/private/
/audiowithjava/nbproject/private/
/audiowithjava/dist/
/audiowithjava/build/
/AudiotoServer/nbproject/private/
/AudiotoServer/build/
/Making calls to serverMultiple client/nbproject/private/
/Making calls to serverMultiple client/build/
/Making calls to serverMultiple client/dist/
/SerializationandDeserialization/nbproject/private/
/Web-Scraping/nbproject/private/
/dataEncryption/nbproject/private/
/PAU_CHAT/nbproject/private/
/PAU_CHAT/build/
/SSTLS/nbproject/private/
/SSTLS/build/
/WebcamOverSocket/nbproject/private/
